@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Sistema de gestion para estudios Juridicos</h2>
</div>
<div>
    <div class="text-center">
        <img class="img-fluid" src="https://abogadosbahiablanca.com/wp-content/uploads/2018/02/wp2162938-768x432.jpg" />
    </div>
    <div class="text-center">
        <h2 class="display-4">PG Sistema de Gestion</h2>
        <h4>Sotware a medida, para Abogados.</h4>
    </div>
</div>
