@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <br />
    <img class="img-fluid" src="https://media.istockphoto.com/vectors/error-404-sorry-the-page-not-found-back-to-home-vector-id855763512?b=1&k=20&m=855763512&s=170667a&w=0&h=Z5n1_SmXiN7CE4UCCcoILv8q9ghxu_36lvy1jlZ8kmA=" />
    <br />
    <br />
    <h4>No tienes permisos para acceder a esta pagina :(</h4>
</div>
